@import url('bootstrap.min.css');
.gc_left { float: left; padding-top: 8px }

.gc_right { float: right }

.gc_center { text-align: center; }

#gathercontent-item-form td, #gathercontent-item-form th,
#gathercontent-item-import-form td, #gathercontent-item-import-form th { width: 5%; text-align: center; border: 0 none; text-transform: none }
#gathercontent-item-form th.item-name, #gathercontent-item-form td.item-name,
#gathercontent-item-import-form th.item-name, #gathercontent-item-import-form td.item-name { width: 90%; text-align: left; border: 0 none }
#gathercontent-item-form td.item-name, #gathercontent-item-import-form td.item-name { padding-top: 4px }

.item-status{display:inline-block;width:15px;height:15px;position:relative;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.item-state-color-1{background-color:#C5C5C5;background-image:-moz-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-ms-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-webkit-gradient(linear,0 0,0 100%,from(#DBDBDB),to(#C5C5C5));background-image:-webkit-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-o-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:linear-gradient(top,#DBDBDB,#C5C5C5);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#C5C5C5', GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.item-state-color-2{background-color:#FAA732;background-image:-moz-linear-gradient(top,#FBB450,#F89406);background-image:-ms-linear-gradient(top,#FBB450,#F89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#FBB450),to(#F89406));background-image:-webkit-linear-gradient(top,#FBB450,#F89406);background-image:-o-linear-gradient(top,#FBB450,#F89406);background-image:linear-gradient(top,#FBB450,#F89406);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0)}
.item-state-color-3{background-color:#5EB95E;background-image:-moz-linear-gradient(top,#62C462,#57A957);background-image:-ms-linear-gradient(top,#62C462,#57A957);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#57A957));background-image:-webkit-linear-gradient(top,#62C462,#57A957);background-image:-o-linear-gradient(top,#62C462,#57A957);background-image:linear-gradient(top,#62C462,#57A957);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0)}
.item-state-color-4{background-color:#0E90D2;background-image:-moz-linear-gradient(top,#149BDF,#0480BE);background-image:-webkit-gradient(linear,0 0,0 100%,from(#149BDF),to(#0480BE));background-image:-webkit-linear-gradient(top,#149BDF,#0480BE);background-image:-o-linear-gradient(top,#149BDF,#0480BE);background-image:linear-gradient(to bottom,#149BDF,#0480BE);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0)}
.item-state-color-5{background-color:#ECD815;background-image:-moz-linear-gradient(top,#ECD815,#D8C616);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ECD815),to(#D8C616));background-image:-webkit-linear-gradient(top,#ECD815,#D8C616);background-image:-o-linear-gradient(top,#ECD815,#D8C616);background-image:linear-gradient(to bottom,#ECD815,#D8C616);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffecd815', endColorstr='#ffd8c616', GradientType=0)}
.item-state-color-6{background-color:#DD4398;background-image:-moz-linear-gradient(top,#DD4398,#C93D8A);background-image:-webkit-gradient(linear,0 0,0 100%,from(#DD4398),to(#C93D8A));background-image:-webkit-linear-gradient(top,#DD4398,#C93D8A);background-image:-o-linear-gradient(top,#DD4398,#C93D8A);background-image:linear-gradient(to bottom,#DD4398,#C93D8A);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffdd4398', endColorstr='#ffc93d8a', GradientType=0)}
.item-state-color-7{background-color:#954F99;background-image:-moz-linear-gradient(top,#954F99,#7A387E);background-image:-webkit-gradient(linear,0 0,0 100%,from(#954F99),to(#7A387E));background-image:-webkit-linear-gradient(top,#954F99,#7A387E);background-image:-o-linear-gradient(top,#954F99,#7A387E);background-image:linear-gradient(to bottom,#954F99,#7A387E);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff954f99', endColorstr='#ff7a387e', GradientType=0)}

.item-state-color-2,.item-state-color-3,.item-state-color-4,.item-state-color-5,.item-state-color-6,.item-state-color-7{-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}

.gc_search_items { display: block; padding: 20px 20px 14px; background-color: #f5f5f5; border: 1px solid #e9e9e9; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; margin-bottom: 20px}
.gc_search_bottom { margin-bottom: 0; margin-top: 20px}
.gc_search_items input[type="submit"] { margin: 0 0 0 16px; white-space: nowrap; margin-top: -2px; }

.gc_search_items .gc_right .dropdown-menu a { padding-left: 8px;}
.gc_search_items .gc_right .dropdown-menu .item-status { height: 13px; margin-right: 2px; position: relative; top: 1px; width: 13px;}

.gc_search_items input[type="text"] { display: inline-block; padding: 5px; width: 208px; border: 1px solid #DFDFDF;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; margin: 1px; margin-left: 5px; font-size: 12px; line-height: 15px; color: #333;}


.block .open > .dropdown-menu, .block .open > .dropdown-menu { max-height: 300px; overflow-x: hidden; overflow-y: auto }

.block .gc_left .btn-group, .block .gc_left .btn-group { top: -7px; }

.gc_item_header a {float: right; margin-top: 9px; margin-right: 2px;}
.gc_item_header h2 { float: left;}

#gathercontent-item-import-form #edit-select-items,#gathercontent-item-import-form #edit-select-items--2 { position: relative; top: -7px }


.gc_settings_container { border-top: 0 none }
.gc_settings_container > div { background-color: #555; padding: 10px; color: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px }


.gc_settings_header .gc_setting { float: left; display: inline-block; margin-right: 20px; }
.gc_settings_header { padding: 0 8px }
.gc_setting label, .gc_setting  .form-item label.option, .gc_modal label { font-weight: bold; font-size: 14px; margin-right: 5px; float: left; }
.gc_setting label { margin-top: 3px; }

.gc_modal label { padding-bottom: 6px; text-align: left; float: none }
.gc_settings_header .repeat_config { padding-top: 4px; float: right; margin-right: 0 }
.repeat_config input { margin-left: 5px; position: relative; top: 1px }


.gc_settings_field { font-size: 14px; font-weight: bold; margin-top: 5px; background-color: #474747; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 7px 10px 7px 30px; position: relative }
.gc_move_field { height: 14px; width: 6px; background: url('../images/sort_field.png') no-repeat scroll left top transparent; position: absolute; top: 12px; left: 14px; cursor: pointer }
.gc_settings_field .gc_left { padding-top: 1px; font-style: italic }
.gc_settings_field .btn-group { font-weight: normal; margin-left: 20px }
.gc_settings_field > div, .not-moved > div, .moved:hover > div { color: #fff }
.moved > div { color: #b3b3b3 }
.moved .gc_move_field { background-position: left bottom }
.moved:hover .gc_move_field { background-position: left top }
.gc_settings_field .btn, .not-moved .btn, .moved:hover .btn { opacity:1; filter:alpha(opacity=100); background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0); *background-color: #e6e6e6; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05) }
.moved .btn {background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.dropdown-menu > li.inputting, .dropdown-menu > li.live_filter { padding: 3px 15px
}
.dropdown-menu > li.live_filter { padding: 3px 5px; border: 1px solid #DFDFDF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 1px 5px; font-size: 12px; line-height: 15px; color: #333 }
.dropdown-menu > li input { width: 100% }

.gc_modal { text-align: center; padding: 0 20px 20px; position: fixed; z-index: 1002; background-color: #fff; left: 50%; margin-left:-208px; top:50%; margin-top:-40px; display: none; border: 1px solid #D5D5D5; border-radius: 6px 6px 6px 6px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); width: 414px; font-family: sans-serif }
.gc_overlay { display: none; bottom: 0; left: 0; position: fixed; right: 0; top: 0; background-color: #000; z-index: 1000; opacity:0.65; filter:alpha(opacity=65) }

table.sticky-header { z-index: 500 }

#gathercontent-item-import-form, #gathercontent-item-form { width: 80%;}
#gathercontent-project-form, #gathercontent-media-form { width: 60%;}
#gathercontent-login-form { width: 400px;}
#gathercontent-media-form .progress, .gc_modal .progress { background-color: #e9e9e9; height: 10px; margin-bottom: 20px }
#gathercontent-media-form .progress .bar, .gc_modal .progress .bar { height: 10px; background-color: #5ab800; margin: 0; border: 0 none }
#gathercontent-media-form .progress, #gathercontent-media-form .progress .bar, .gc_modal .progress, .gc_modal .progress .bar {-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
#gathercontent-media-form img, .gc_importing_modal img { float: right; display: none }

.block form { margin: 0 auto }

#gathercontent-login-form .gc_url_prefix,#gathercontent-login-form .gc_url_suffix { position: absolute; right: 0; top: 33px; width: 130px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 16px }
#gathercontent-login-form .gc_url_prefix { left: 5px; width: 42px }
#edit-gathercontent-api-url { padding-left: 48px; padding-right: 130px; width: 216px;}
#gathercontent-login-form .form-item { position: relative; }
#gathercontent-project-form .gc_right { padding-top: 18px }
#gathercontent-project-form .gc_cf { margin-bottom: 17px }
#gathercontent-project-form #edit-submit { margin-top: 20px }
#gathercontent-project-form .form-type-radio { margin-bottom: 10px }
#gathercontent-project-form .form-type-radio input { margin-right: 3px }
#gathercontent-item-form #edit-submit--2 { margin-right: 0;}

#gc_itemlist .gc_tab_name { display: inline-block; font-size: 12px; background: #000; padding: 1px 5px; margin-right: 5px; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px }
